/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	/*background-color: #E0E4CC;*/
	font-family: "Helvetica Neue", Lucida Grande;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0; right: 0; left: 0;
	height: 1500px;
}
section.outer-wrapper {
		display: flex;
		flex-direction: column;
		margin: 20px 20px 0 60px;
		height: 100%;
	}
	nav.navigation-container {
		background-image: url('http://www.lenordik.com/app/assets/media/generated/55afa22ff1c80bb4097cb1349324a8fc1320719438_gallery_gallery.jpg?1335469974');
		background-size: 100%;
		background-repeat: no-repeat;
		-webkit-font-smoothing: antialiased;
		height: 70%;
		display: flex;
		flex-direction: row;
		top: 0;
		left: 0;
		right: 0;		
	}
		a#main-logo {
			font-family: verdana;
			font-size: 35px;
			color: #FFFFFF;
			margin-left: 20px;
			margin-top: 12px;
			height: 54px;
			width: 200px;
		}
		a#main-logo:hover {
			color: #1693A5;
		
		}
		#logo {
			height: 58px;
			margin-bottom: -16px;
			margin-right: 2px;
		}
		#javascript-notice {
			color: #FFF;
			width: 25%;
			margin-top: 38px;
			height: 20px;
			font-weight: 200;
		}
		.login-buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			height: 54px;
			width: 44%;
			margin-right: 8%;
			margin-top: 32px;
		}
			a#sign-up {
				color: #FFF;
				font-weight: 200;
				margin-right: 3%;
				height: 20px;
			}
			a#log-in {
				color: #FFF;
				font-weight: 200;
				height: 20px;
			}
			a#sign-out {
				color: #FFF;
				font-weight: 200;
				margin-right: 3%;
				height: 20px;
			}
			section#login-message {
				color: #FFF;
				font-weight: 200;
				margin-right: 5%;
				height: 20px;
			}

	a {
		text-decoration: none;
	}

	button#button-style-1 {
	 font-family: Lucida, Sans-Serif;
	 font-size: 19px;
	 width: 40%;
	 margin-top: 8px;
	 margin-bottom: 4px;
	 cursor: pointer;
	 padding: 6px 11px;
	 background-color: #F38630;
	 border: none;
	 }
	button#button-style-1:hover {
		/*background-color: #FA6900;
		background-color: #69D2E7;
	 }
	button#button-style-1:active {

	 }
	 a#add-a-restaurant {
	 	color: #FFFFFF;
	 	text-align: center;
	 }

	input[type="submit"] {
	 font-family: Lucida, Sans-Serif;
	 color: #FFF;
	 font-size: 19px;
	 width: 20%;
	 cursor: pointer;
	 padding: 6px 0px 6px 0px;
	 background-color: #F38630;
	 border: none;
	 }
	 input[type="submit"]:hover {
	 	background-color: #FA6900;
	 }
