/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #E0E4CC;
	font-family: Lucida Grande;
	display: flex;
	flex-direction: column;
	height: 1000px;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

section.outer-wrapper {
	display: flex;
	flex-direction: column;
	margin: 40px 40px 0 40px;
}

a {
	text-decoration: none;
	display: flex;
}

button#button-style-1 {
 font-family: Lucida, Sans-Serif;
 font-size: 19px;
 width: 16%;
 cursor: pointer;
 padding: 6px 11px;
 background-color: #F38630;
 border: none;
 }
button#button-style-1:hover {
	background-color: #FA6900;
 }
button#button-style-1:active {

 }

input[type="submit"] {
 font-family: Lucida, Sans-Serif;
 color: #FFF;
 font-size: 19px;
 width: 20%;
 cursor: pointer;
 padding: 6px 0px 6px 0px;
 background-color: #F38630;
 border: none;
 }
 input[type="submit"]:hover {
 	background-color: #FA6900;
 }
