// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.reviews-main-container {
	background-color: #A7DBD8;
	display: flex;
	flex-direction: column;
	width: 40%;
}

h1.review-heading {
	display: flex;
}

h3.restaurant-name {
	display: flex;
}

section.individual-review-container {
	background-color: #FFF;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
}