// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.reviews-main-container {
	background-color: #E0E4CC;
	display: flex;
	flex-direction: column;
	width: 40%;
}

h1.review-heading {
	display: flex;
	font-size: 20px;
}
img.review-icon {
	height: 50px;
	width: 45px;
}

section.individual-review-container {
	background-color: #FFF;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
	border: outset;
	border-width: 4px;
}
	h3.restaurant-name {
		display: flex;
	}
	a#edit-restaurant {
		display: flex;
	}
	a#delete-restaurant {
		display: flex;
	}
	a#leave-review {
		display: flex;
	}
	ul.rating-and-review {
		display: flex;
		flex-direction: column;
	}
		li.average-rating {
			display: flex;
		}
		li.review-thoughts {
			display: flex;
			flex-direction: column;
		}
			span.endorsement_count {
				display: flex;
			}
			a.endorsement-link {
				display: flex;
			}




